
{% extends '../base.html' %}
{% block content %}


<div class="stats-app container m-3">

<table class="table table-danger w-25">
  <thead>
  	<tr>
  		<th colspan="3" class="text-center ">Quiz Stats</th>
  	</tr>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">No. of #</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Total Number of Questions</td>
      <td>{{total_number_of_questions}}</td>
  	</tr>
  	<tr>
      <th scope="row">2</th>
      <td>Total Marks</td>
      <td>{{total_marks}}</td>
    </tr>
    <tr>
    	<th scope="row">3</th>
    	<td>Total Quiz Attend</td>
    	<td>{{total_quiz_attend}}</td>
    </tr>
  </tbody>
</table>


<table>
	
</table>

</div>  



{% endblock %}